html, body {
    height: 100%;
    margin: 0;
}

body {
    min-height: 100vh;
    background: linear-gradient(135deg,#141619 0%, #161d2a 100%);
    color: rgba(255, 255, 255, 0.855);

    -webkit-font-smoothing: antialiased;
}

h1 {
  border-bottom: thin black solid;
}

.auth-form{
  max-width: 420px;
  margin: 1.5rem auto;
  padding: 1rem;
  box-sizing: border-box;
  background: rgba(126, 126, 126, 0.855);
  border-radius: 8px;
}

ul.nav.nav-underline .nav-link.active,
ul.nav.nav-underline .nav-link[aria-current="page"] {
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-thickness: 3px;
    color: linear-gradient(135deg,#bb2800 0%, #be3f00 100%);
    padding: auto;
}